<header>
    <p class="logo"></p>
    <div class="find_nev">
        <i class="coordinate ml20">四川</i>
        <ul>
            <li>我的订单</li>
            <li id="myInfo" class="nev_arrow">我的京东</li>
            <li>京东会员</li>
            <li>企业采购</li>
            <li class="nev_arrow">客户服务</li>
            <li class="nev_arrow">网站导航</li>
            <li>手机京东</li>
        </ul>
                <span class="top_reg mr15">
                        <label id="login">您好，请登录</label>
                        <a href="javascript:;" class="red ml10">免费注册</a>
                </span>
    </div>
    <div class="find_search">
        <div class="find_content">
            <input id="find" class="find_text" type="text"/>
            <input id="findBtn" type="button" class="find_btn"/>
        </div>
        <div class="shop_car red">
            <p>我的购物车</p>
            <i>0</i>
        </div>
    </div>
    <div class="column_menu">
        <ul id="columnNavId"></ul>
    </div>
</header>
